/* GLOBAL STYLES */
html {
    background-color: black;
    color: #c0c0c0;
    font-size: 1rem;
    font-family: Garamond, Georgia, sans-serif;
    text-decoration: none;
    text-align: center;
}
h1 {
    font-size: 5rem;
    padding: 5rem;
}
h1 span {
    color: #f5f5f5;
}
.home-content {
    display: inline-flex;
    justify-content: center;
    text-align: justify;
    padding: 0vh 25vw;
    padding-bottom: 5vh;
}

/* HEADER STYLES */
.header-nav {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 2.5vh;
    justify-content: center;
}
.header-nav li {
    display: inline-block;
    float: left;
    margin-top: 1.5rem;
}
.header-nav a {
    color: #C0C0C0;
    flex-shrink: 0.5;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1.5rem;
    margin: 1.5rem;
}
.header-nav a:hover {
    color: #f5f5f5;
}

/* FOOTER STYLES */
.footer h4 {
    color: #C0C0C0;
    padding: 2.5vh;
    margin-bottom: 2.5vh;
}
.footer-nav {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 2.5vh;
    justify-content: center;
}
.footer-nav li {
    display: inline-block;
    float: left;
    margin-bottom: 1.5rem;
}
.footer-nav a {
    color: #C0C0C0;
    flex-shrink: 0.5;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
}
.footer-nav a:hover {
    color: #f5f5f5;
}

/* POST STYLES */
.post-content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 0vh 25vw;
    padding-bottom: 10vh;
    line-height: 1.25;    
}
.post-content a {
    color: #f5f5f5;
    text-decoration: none;
}
.post-content p {
    padding: 0.5em;
}
.post-content blockquote {
    font-size: 1.5em;
    font-style: italic;
    padding: 0.5em;
}
.post-content ul {
    padding: 0.5em;
    margin: 0 2.5em;
}
.post-content ul li {
    padding: 0.25em;
}
.post-content img {
    display: block;
    margin: auto;
    padding: 1em;
}
.twitter-tweet {
    display: block;
    margin: auto;
    padding: 1em;
}
.post-header h1 {
    padding-bottom: 1px;
}
.post-byline {
    font-size: 1.5em;
    padding: 2em;
    line-height: 2;
    padding-bottom: 1px;
}

/* ARCHIVE STYLES */
#home-archive {
    margin-bottom: 10vh;
}
.archive-li {
    list-style: none;
    padding: 3em 20vw;
    line-height: 1.25;
}
.archive-li a {
    color: #c0c0c0;
    text-decoration: none;
    font-size: 2em;
    padding: 1em;
}
.archive-li a:hover {
    color: #f5f5f5;
}
.archive-li span {
    font-size: 1.25em;
}
.page-archive {
    margin-bottom: 10vh;
}
h4 {
    font-size: 2em;
}
.page-archive > .archive-li {
    font-size: 0.75em;
    display: inline-block;
}